html, body{
    background-color: $background;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

body{
    // 116px is the height of the fixed header.
    padding-top: 116px;
}

h1, h2 {
    font-family: $title-fonts;
    font-weight: 700;
}

.container {
    max-width: 1660px;
}